<div id="<%= dom_id post %>" class="post">
  <h3 class="post__title"><%= post.title %></h3>

  <p>
    <strong><%= pluralize post.comments.count, "comment" %></strong>
  </p>

  <p>
    Posted <%= time_tag post.created_at, "data-local": "time-ago" %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= post.content %>
  </p>

</div>
