<p style="color: green"><%= notice %></p>

<%= render @post %>
<%= render "posts/comments", post: @post %>

<div class="post__links">
  <%= link_to "Edit this post", edit_post_path(@post) %> |
  <%= link_to "Back to posts", posts_path %>
</div>

<%= button_to "Destroy this post", @post, method: :delete, class: "btn-danger" %>
